@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Noto+Sans+KR:wght@100;400;700&display=swap');
/* font-family: 'Days One', sans-serif; */
/* font-family: 'Noto Sans KR', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    color: #222;
    line-height: 1.5;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* header  */
.header {
    display: flex;
    align-items: center;
    height: 100px;
    padding: 0 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.logo {
    margin-right: auto;
    font-family: 'Days One', sans-serif;
    font-size: 36px;
    color: #4B4B4B;
}

.gnb {
    display: flex;
}

.gnb li a {
    display: block;
    padding: 20px 55px;
}

.gnb li a:hover {
    color: orangered;
    font-weight: bold;
}

.btn {
    margin-left: 55px;
    padding: 9px 22px;
    border: 1px solid #222;
    color: #fff;
    background-color: black;
    border-radius: 5px;
}

.btn:hover {
    cursor: pointer;
    color: black;
    background-color: transparent;
    transition: 0.3s;
}

/* slide  */
.slide {
    position: relative;
    width: 1920px;
    height: 650px;
    margin: 0 auto; 
    margin-bottom: 136px;
}

.item {
    width: 100%;
    height: 100%;
    background-image: url('../images/hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.head_txt {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.head_txt h2 {
    font-family: 'Days One', sans-serif;
    font-size: 96px;
    font-weight: normal;
    color: black;
}

.head_txt h3 {
    font-size: 36px;
    color: #333;
    font-weight: 700;
}
.head_txt p {
    width: 60%;
    margin: 0 auto;
    color: #666;
}

.slide_btn {
    position: absolute;
    top: 50%;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    transform: translateY(-50%);
    padding: 0 30px;
}

.slide_btn img {
    width: 46px;
    cursor: pointer;
}


/* container / main / contents */
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.section_01 {
    display: flex;
    gap: 30px;
}

.section_01 .text_box {
    flex: 1;
    height: 500px;
    background-color: #ddd;
    color: #3a3a3a;
    padding: 63px 30px;
}

.section_01 .banner {
    flex: 1;
}

.section_01 .text_box h2 {
    font-size: 56px;
    font-weight: 700;
}

.section_01 .text_box p {
    width: 90%;
}

.section_01 .btns {

}


